body{
    font-family: "Montserrat SemiBold",Verdana,Helvetica,Arial,sans-serif;
    width: 70%;
    height: 50%;
    margin-top: 10px;
    margin-left: 15%;
    border: 1px solid rgb(145, 138, 138);
    border-radius: 25px;
    padding: 20px 20px 20px 20px;
    text-size-adjust: auto;
}
header{
    text-align: center;
    margin-top: 10px;
    text-size-adjust: auto;
}