<header>
    <h1> Nutrition Analysis </h1>
    </header>
    <body>
    <p>Nutritional analysis is the process of determining the nutritional content of food. It is a vital part of analytical chemistry that provides information about the chemical composition, processing, quality control and contamination of food. It ensures compliance with trade and food laws. There are a variety of certified methods used for performing nutritional analysis.</p>
    
    <button class='btn btn-primary' [routerLink]="['/home']">Click here to Start Analyzing </button>
    </body>